<%- include ('partials/header') %>

<div class="container">
    <h1>Hello <%= user.username%>!</h1>
    <h2>Your cart:</h2>
    <hr>

    <div class="container">
        <div class="row">
            <% items.forEach(function(item){ %>
                <div class="col-sm-3">
                    <div class = "card myContent">
                        <img src="../images/<%= item.bookObject.image %>" class="card-img-top" alt="<%= item.bookObject.title %>">
                        <!-- <div class="col-md-8"> -->
                            <div class="card-body">
                                <!-- <div class="col-md-6"> -->
                                    <h5 class="card-title"><%= item.bookObject.title %></h5>
                                    <p class="card-text">Author: <%= item.bookObject.author %></p>
                                    <p class="card-text">Amount: <%= item.bookcount %></p>
                                <!-- </div> -->
                                <!-- <div class="col-md-6"> -->
                                    <form action="/<%= user._id%>/cart/remove" method="POST">
                                        <input name="itemname" id="itemname" value="<%= item.bookObject.title %>" type="hidden" />
                                        <input name="username" id="username" value="<%= user.username %>" type="hidden" />
                                        <button type="submit" class="btn btn-danger">Remove</button>
                                        <input type="number" id="removeQuantity" name="removeQuantity" min="1" max="10" value="1">
                                    </form>
                                    <form action="/<%= user._id%>/cart/add" method="POST">
                                        <input name="itemname" id="itemname" value="<%= item.bookObject.title %>" type="hidden" />
                                        <input name="username" id="username" value="<%= user.username %>" type="hidden" />
                                        <button type="submit" class="btn btn-success">Add</button>
                                        <input type="number" id="addQuantity" name="addQuantity" min="1" max="10" value="1">
                                    </form>
                                    <form action="/<%= user._id%>/cart/removeAll" method="POST">
                                        <input name="bookname" id="bookname" value="<%= item.bookObject.title %>" type="hidden" />
                                        <input name="username" id="username" value="<%= user.username %>" type="hidden" />
                                        <button type="submit" class="btn btn-danger">Remove All</button>
                                    </form>
                                <!-- </div> -->
                            </div>
                        <!-- </div> -->
                    </div>
                </div>
            <% }) %>
        </div>
        <hr/>
        <a href="/catalog" class="btn btn-primary">Select other books</a>
        <a href="/<%= user._id%>/checkout" class="btn btn-success">Checkout</a>
    </div>
</div>

<%- include ('partials/footer') %>