<%- include ('partials/header') %>


<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Catalog</h1>
  </div>
  <h2>Search</h2>
  <div class="search-bar">
    <form action="/catalog" method="GET">
      <input type="text" id="title" name="title" placeholder="Enter title" style="margin-top: 10px;"><br>
      <select name="genre" id="genre">
        <option value="all">All</option>
        <option value="General and Literary Fiction">General and Literary Fiction</option>
        <option value="Young Adult Fiction">Young Adult Fiction</option>
        <option value="Children's Fiction">Children's Fiction</option>
        <option value="Crime">Crime</option>
        <option value="Thriller">Thriller</option>
        <option value="Adventure">Adventure</option>
        <option value="Romance">Romance</option>
        <option value="Saga">Saga</option>
      </select>
      <input type="submit" value="Search">
    </form> 
  </div>
  <a href="/catalog">Reset filters</a>
  <% if(user && user.isAdmin) { %>
    <a class="btn btn-primary btn-lg" href="/catalog/new" role="button">
      Add new book</a>
  <%} %>
</div>

<div class="container">
  <div class="row">
    <% for (var i = 0; i < books.length; i++) { %>
      <div class="col-sm-3">
        <div class="card myContent">
          <img src="../images/<%=books[i].image %>" class="card-img-top" alt="<%= books[i].title %>">
          <div class="card-body">
            <h5 class="card-title"><%= books[i].title %></h5>
            <p class="card-text">Author: <%= books[i].author %></p>
            <a href="book/<%= books[i]._id %>" class="btn btn-primary">Book details</a>
          </div>
        </div>
      </div>
    <% } %>
  </div>
</div>

<!-- What i was editing was trying to get it so it has the filters in the page query as well -->
<br>
<div class="container" id="paging" style="text-align: center; margin: auto">
	<% if (currentPage == 1 && numPages>1) {%>
    <%= parseInt(currentPage)  %>
    <a href="/catalog?page=<%= parseInt(currentPage) + 1 %>"><i class="fas fa-chevron-right"></i></a>
	<%} else if(currentPage < numPages) { %>
    <a href="/catalog?page=<%= parseInt(currentPage) - 1 %>"><i class="fas fa-chevron-left"></i></a>
    <%= parseInt(currentPage)  %>
	  <a href="/catalog?page=<%= parseInt(currentPage) + 1 %>"><i class="fas fa-chevron-right"></i></a>
	<%} else if(currentPage == numPages && numPages > 1) { %>
    <a href="/catalog?page=<%= parseInt(currentPage) - 1 %>"><i class="fas fa-chevron-left"></i></a>
    <%= parseInt(currentPage)  %>
    <% } %>
</div>

<br>
<br>
<br>

<%- include ('partials/footer') %>